<div class="col">
  <h1>Editing Picture</h1>

  <p>
    <%= link_to [@gallery, @picture], remote: true do %>
      <%= image_tag @picture.image, class: 'edit_form_image' %>
    <% end %>
  </p>

  <%= render 'form', picture: @picture %>

  <br />
  <br />

  <%= link_to 'Back', gallery_pictures_path %>

</div>

<%= render partial: 'shared/modal' %>