<div class="col">
  <h1><%= @picture.name %><small> - <%= @picture.gallery.name %></small></h1>
  <br />
  <%= image_detail_modal_link(@picture) %>
  <br />
  <%= link_to 'Edit', edit_gallery_picture_path(@gallery), class: "btn btn-primary my-2" %>
  <br />
  <br />
  <%= link_to 'Back', gallery_pictures_path %>
</div>